* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-image: linear-gradient(120deg,#f6d365,#fda085);
    
}

header{
    font-size: 1.5rem;
    
}

form input, form button, form select{
    border: 0;
    padding: 0.5rem;
}

li input, li button{
    border: 0;
    padding: 0.5rem;
}

.todo-container{
    margin-top: 5rem;
}

.item-name{
    padding: 0.5rem;
    background-color: white;
}

.item{
    margin-top: 1rem;
}

.btn{
    cursor: pointer;;
}